/* Desktop */
@media screen and (min-width: 993px) and (max-device-width: 1024px) {
}

/* Tablet   */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* banner part start */

  .banner-container .banner-content {
    width: 100%;
    padding: 30px;
  }
  .banner-container .banner-content h2 {
    font-size: 35px;
  }
  .banner-container .banner-content h1 {
    font-size: 65px;
  }
  .banner-container .banner-content p {
    font-size: 16px;
    margin: 20px 0;
  }
  .banner-container .banner-content .btn-group {
    text-align: center;
    display: inline-block;
  }
  .banner-container .banner-content button {
    padding: 20px 30px;
  }
  .banner-container .banner-img {
    width: 100%;
    padding: 30px;
  }

    /* we are gamer  part */
.we-are-gamer {
  padding: 0;
}
.we-are-gamer .we-are-gamer-content {

}
.we-are-gamer .we-are-gamer-content .gaming-img{
  width: 50%;
}
.we-are-gamer .we-are-gamer-content img {
  width: 100%;
}
.we-are-gamer .we-are-gamer-content .content {
  width: 50%;
  text-align: right;
}
.we-are-gamer .we-are-gamer-content .content h2 {
  font-size: 38px;
}
.we-are-gamer .we-are-gamer-content .content p {
  font-size: 16px;
}
.we-are-gamer .we-are-gamer-content .content button {
  background-color: #ff42a5;
  margin: 10px 0;
  padding: 20px;
}

  /* online games section */
  .online-games .section-title h2 {
    font-size: 40px;
  }
  .online-games .games-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  /* Play constantly style */
  .play-instantly {
  }
  .play-instantly .play-container {
    width: 100%;
    text-align: right;
  }
  .play-instantly .play-container .content {
    width: 100%;
  }
  .play-instantly .play-container h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .play-instantly .play-img {
    width: 100%;
  }
  .play-instantly .play-img .big-img {
    width: 100%;
  }
  .play-instantly .play-img .small-img {
    width: 50%;
    left: -20%;
  }

  /* gaming item section */
  .gaming {
    padding: 30px 0;
  }
  .gaming-items .item {
    flex-basis: 220px;
  }

  /* footer section */
  footer {
    padding: 100px 120px;
  }
  footer .service a {
    line-height: 40px;
  }
  footer .terms-condition a {
    line-height: 40px;
  }
}

/* Mobile  */
@media screen and (max-width: 767px) {
  /* header section */
  header .header-container {
    flex-direction: column;
  }
  header .header-container .navbar ul li {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  /* banner part start */
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-container .banner-content {
    width: 100%;
    padding: 30px;
  }
  .banner-container .banner-content h2 {
    font-size: 35px;
    text-align: center;
  }
  .banner-container .banner-content h1 {
    font-size: 65px;
    text-align: center;
  }
  .banner-container .banner-content p {
    font-size: 16px;
    margin: 20px 0;
  }

  .banner-container .banner-content .btn-group {
    text-align: center;
  }

  .banner-container .banner-content button {
    padding: 21px 28px;
  }

  .banner-container .banner-img {
    width: 100%;
    padding: 30px;
  }

  /* we are gamer  part */
.we-are-gamer {
  padding: 0;
}
.we-are-gamer .we-are-gamer-content {
  flex-direction: column;
  
}
.we-are-gamer .we-are-gamer-content .gaming-img{
  width: 100%;
}
.we-are-gamer .we-are-gamer-content img {
  width: 100%;
}
.we-are-gamer .we-are-gamer-content .content {
  width: 100%;
  text-align: center;
}

  /* online games section */
  .online-games .section-title h2 {
    font-size: 40px;
  }
  .online-games .games-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* Play constantly style */
  .play-instantly {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .play-instantly .play-container {
    width: 100%;
    text-align: center;
  }
  .play-instantly .play-container .content {
    width: 340px;
    margin: auto;
  }

  .play-instantly .play-container h2 {
    font-size: 40px;
  }
  .play-instantly .play-img {
    width: 100%;
  }
  .play-instantly .play-img .big-img {
    width: 88%;
  }
  .play-instantly .play-img .small-img {
    width: 40%;
    left: -1%;
  }

  /* gaming item section */
  .gaming {
    padding: 30px 0;
  }
  .gaming-items .item {
    flex-basis: 165px;
  }

  /* footer section */
  footer {
    padding: 100px 30px;
  }
  footer .service a {
    line-height: 40px;
  }
  footer .social-media a {
    margin: 35px;
    text-align: center;
    line-height: 55px;
  }
  footer .terms-condition a {
    line-height: 40px;
  }
}
