/* gloval css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #0b0223;
  font-style: normal;
  line-height: normal;
}
p {
  color: #534c64;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}
.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  border-radius: 48px;
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
/* header part */

header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .logo {
  display: flex;
  align-items: center;
}
header .header-container .logo img {
  width: 100%;
  margin-right: 10px;
}
header .header-container .logo h3 {
  font-size: 45px;
  font-weight: 700;
}
header .header-container .logo h3 span {
  color: #f948b2;
}
header .header-container .navbar ul {
  list-style: none;
}
header .header-container .navbar ul li {
  display: inline-block;
  margin-left: 15px;
}
header .header-container .navbar ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .header-container .navbar ul .follow-us {
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
header .header-container .navbar ul li a .fa-brands {
  margin-left: 5px;
  font-size: 18px;
}
header .header-container .navbar ul li a .fa-youtube {
  color: #f61c0d;
}

/* banner part start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container .banner-content {
  width: 50%;
  background-image: url("./../img/Group\ 14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px; 
}
.banner-container .banner-content h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-container .banner-content h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 0;
}
.banner-container .banner-content p {
  font-size: 20px;
  margin: 20px 0;
}
.banner-container .banner-content p span {
  margin-right: 10px;
  color: #ff42a5;
}
.banner-container .banner-content button{
    margin-top: 20px;
}
.banner-container .banner-content .btn-primary {
  background-color: #ff42a5;
}
.banner-container .banner-content .btn-normal {
  background: #4ec5f7;
}
.banner-container .banner-img {
  width: 50%;
}
.banner-container .banner-img img {
  width: 100%;
}
