/* gloval css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #0b0223;
  font-style: normal;
  line-height: normal;
}
p {
  color: #534c64;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px;
}
.gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  border-radius: 48px;
  padding: 21px 40px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
/* header part */
header {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-container .logo {
  display: flex;
  align-items: center;
}
header .header-container .logo img {
  width: 100%;
  margin-right: 10px;
}
header .header-container .logo h3 {
  font-size: 45px;
  font-weight: 700;
}
header .header-container .logo h3 span {
  color: #f948b2;
}
header .header-container .navbar ul {
  list-style: none;
}
header .header-container .navbar ul li {
  display: inline-block;
  margin-left: 15px;
}
header .header-container .navbar ul li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
header .header-container .navbar ul .follow-us {
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
header .header-container .navbar ul li a .fa-brands {
  margin-left: 5px;
  font-size: 18px;
}
header .header-container .navbar ul li a .fa-youtube {
  color: #f61c0d;
}

/* banner part start */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-container .banner-content {
  width: 50%;
  background-image: url("./../img/Group\ 14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 150px;
}
.banner-container .banner-content h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-container .banner-content h1 {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 0;
}
.banner-container .banner-content p {
  font-size: 20px;
  margin: 20px 0;
}
.banner-container .banner-content p span {
  margin-right: 10px;
  color: #ff42a5;
}
.banner-container .banner-content button {
  margin-top: 20px;
}
.banner-container .banner-content .btn-primary {
  background-color: #ff42a5;
}
.banner-container .banner-content .btn-normal {
  background: #4ec5f7;
}
.banner-container .banner-img {
  width: 50%;
  padding: 0 150px;
}
.banner-container .banner-img img {
  width: 100%;
}

/* we are gamer  part */
.we-are-gamer {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 50px;
}
.we-are-gamer .we-are-gamer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.we-are-gamer .we-are-gamer-content .gaming-img {
  width: 50%;
}
.we-are-gamer .we-are-gamer-content .gaming-img img {
  width: 100%;
}
.we-are-gamer .we-are-gamer-content .content {
  width: 50%;
  text-align: right;
}
.we-are-gamer .we-are-gamer-content .content h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.we-are-gamer .we-are-gamer-content .content p {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
}
.we-are-gamer .we-are-gamer-content .content button {
  background-color: #ff42a5;
  margin: 20px 0;
}


/* online-games part */
.online-games {
  margin-top: 50px;
}
.online-games .section-title {
  text-align: center;
}
.online-games .section-title h2 {
  font-size: 48px;
  font-weight: 700;
}
.online-games .section-title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.online-games .games-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}
.online-games .games-content .item {
  position: relative;
}
.online-games .games-content .item .hover-content {
  display: none;
  transition: 0.3s;
  background: none;
}
.online-games .games-content .item:hover .hover-content {
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  position: absolute;
  top: 0;
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  border: 5px solid #ff42a5;
}
.online-games .games-content .item .hover-content .fa-regular {
  color: #fff;
  font-size: 30px;
}
.online-games .games-content .item .hover-content a {
  color: #ff42a5;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 10px;
}
.online-games .games-content .item img {
  width: 100%;
  height: 84%;
}

.online-games .games-content .item p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-top: 10px;
}

/* Play constantly style */
.play-instantly {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.play-instantly .play-container {
  width: 50%;
  text-align: right;
}
.play-instantly .play-container .content {
  width: 350px;
  margin: auto;
}
.play-instantly .play-container h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.play-instantly .play-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.play-instantly .play-img {
  width: 50%;
  text-align: right;
  position: relative;
}
.play-instantly .play-img .big-img img {
  width: 100%;
}
.play-instantly .play-img .small-img {
  position: absolute;
  top: 55%;
  left: -18%;
}

/* gaming item section */
.gaming {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 100px 0;
  margin-top: 30px;
}
.gaming-items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
.gaming-items .item {
  flex-basis: 248px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #fff;
  padding: 5px;
}
.gaming-items .item:hover {
  border: 1px solid #ff42a5;
}
.gaming-items .item:hover h4 {
  color: #ff42a5;
}
.gaming-items .item img {
  margin-right: 15px;
}
.gaming-items .item h4 {
  color: #0b0223;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* footer section */

footer {
  background: #0b0223;
  text-align: center;
  padding: 100px;
}
footer .footer-logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */
}
footer .footer-logo img {
  margin-right: 10px;
  text-align: center;
}
footer .footer-logo h3 {
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
footer .footer-logo h3 span {
  color: #f948b2;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
footer div {
  margin: 30px 0;
}
footer .service a {
  font-size: 18px;
  font-weight: 600;
}

footer .social-media a {
  font-size: 30px;
}
footer .social-media a i {
  color: #fff;
}

footer .terms-condition a {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
footer small {
  display: block;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
